---
title: Common Use Cases
weight: 30
---

# Use Cases

| Use Case | Factors | Type | Examples |
| -------- | ------- | ---- | -------- |
| My organisation wishes to make non-personal data openly available for people to use  | <ul><li>Personal data not involved</li><li>Single data source</li></ul> |  [Bilateral](data-exchange-patterns.html#1-bilateral) | <ul><li>[OS Data hub](https://osdatahub.os.uk/)</li><li>data.gov.uk</li></ul> |
| My organisation needs to make personal data available for use in external services | <ul><li>Personal data involved</li><li>Single data source</li></ul>  |  [Enhanced Bilateral](data-exchange-patterns.html#1a-enhanced-bilateral) | <ul><li>Book a vaccine</li><li>[Check entitlements](https://www.gov.uk/benefits-calculators)</li></ul> |
| My organisation needs to bring together a large volume of non-personal data from a number of different sources for research purposes | <ul><li>Personal data not involved</li><li>Multiple data sources</li></ul> | [Multilateral](data-exchange-patterns.html#2-multilateral) | <ul><li>[Data.gov.uk](https://data.gov.uk)</li><li>DIT Data Hub</li></ul> | 
| My organisation needs to regularly bring together a large volume of personal and non-personal data from a number of different sources for operational purposes. | <ul><li>Personal data involved</li><li>Multiple data sources</li><li>Ongoing need for timely and accurate data</li></ul> |  [Enhanced Multilateral](data-exchange-patterns.html#2a-enhanced-multilateral) | <ul><li>Vulnerable People’s Service</li></ul> |
| As a person eligible to receive a specific government service from one government department, I want information that is held about me by another department to be reused to make the service seamless and more convenient.  | <ul><li>Personal data involved</li><li>Ongoing need timely and accurate data</li></ul> | [Enhanced Multilateral with common reference / master data](data-exchange-patterns.html#3a-i-enhanced-multi-party-with-common-reference-master-data) | <ul><li>One Login</li></ul> |
| I want public services to be joined up, so irrespective of what service I want to receive I don’t have to repeatedly provide the same information to different parts of government. | <ul><li>Personal data may be involved</li><li>Multiple data sources involved</li><li>Need for the timely and accurate data</li></ul> | [Data Marketplace](data-exchange-patterns.html#4-platform)| <ul><li>[API Catalogue](https://api.gov.uk)</li></ul> |

